<html>
<head>
        <link rel="stylesheet" href="/styles.css" type="text/css" />
</head>
    <body>
       
          <div class="game">
          <div class="form">
          <h1>Welcome to Hangman</h1>

            <h3>Guess a Letter!</h3>
            
          <form>
            
            <input type="text" name="guess" />
            <input type="submit" value="Guess!" />
            
            <h4><%= @message %></h4>
            
            <p id="guess">You have <%= @guesses %> guesses left!</p>
            <p id="correct"><%= @correct_guesses %>  correct guesses</p>
            <p id="incorrect"><%= @incorrect_guesses %> incorrect guesses </p>
            
          </form>
          </div>
              <div class="display">
                <p id="display"><%= @display %></p>
                </div>
          </div>
        
    </body>
</html>


